# Porta de desenvolvimento do MFE {nome}
VITE_PORT=5177

# APIs e endpoints (se necessário)
# VITE_API_URL=http://localhost:3000
# VITE_API_TIMEOUT=10000

# Feature flags locais (se usado)
# VITE_FEATURE_EXPERIMENTAL=false

# Debug
# VITE_DEBUG=false
